.git
.gitignore
.env
.env.*
.idea
.vscode
data
**/.next
**/node_modules
**/__pycache__
**/.pytest_cache
**/.pytest-temp*
**/.mypy_cache
**/.ruff_cache
**/.coverage
**/*.pyc
**/*.tsbuildinfo
**/playwright-report
**/test-results
examples
**/coverage
artifacts
